* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --cor-principal: #FFFFFF;
    --cor-branco-pastel: #faf7f1;
    --cor-buttons-perguntas: #AEDFF2;
    --cor-buttons-next: #3F6E7A;
    --cor-fundo-bege: #EFE4D2;
    --cor-fundo-azul-escuro: #8fb9d6;
    --cor-texto-branco: #FFFFFF;
    --fonte-principal: 'Roboto', sans-serif;
    --font-secundaria: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: var(--cor-principal);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.app {
    margin: 10em;
    text-align: center;
}

.score {
    width: auto;
    height: auto;
    background-color: var(--cor-buttons-next);
    border-radius: 8px;
    color: var(--cor-texto-branco);
    font-family: var(--font-secundaria);
    font-size: 9px;
    text-transform: uppercase;
}

.pontos {
    margin: 8px;
}

.perfil{
    display: flex;
    align-items: center;
    gap: 10px;
}

.perfil h1 {
    font-family: var(--font-secundaria);
    font-size: 15px;
    text-transform: uppercase;
}

.perfil img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-left: 40px;
    background-color: #3F6E7A;
}

.progress {
    width: 100%;
    height: 10px;
    background-color: var(--cor-fundo-bege);
    border-radius:5px;
}

.barra{
    height: 100%;
    width: 30%;
    background-color: var(--cor-buttons-next);
}


.quiz h2{
    font-family: var(--fonte-principal);
    font-size: 18px;
}

.answer-btn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 30px;
}

.answer-btn .btn{
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 9px;
}

.answer-btn img{
    width: 40px;
    height: auto;
}

.btn {
    width: auto;
    height: 70px;
    border-radius: 10px;
    font-family: var(--font-secundaria);
}

.btn:hover{
    background-color: var(--cor-buttons-perguntas);
}

.container {
    margin: 80px;
    width: auto;
    height: 200px;
    background-color: var(--cor-fundo-azul-escuro);
    border-radius: 10px;
    /*display: none;*/ 
}

.container h1 {
    padding-top: 20px;
}

#next-btn {
    font-family: var(--font-secundaria);
    width: 20em;
    height: 45px;
    margin-top: 30px;
    border-radius: 12px;
    color: var(--cor-texto-branco);
    background-color: var(--cor-buttons-next);
    text-transform: uppercase;
}