/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIAVEIS */
:root {
    --cor-principal: #FFFFFF;
    --cor-branco-pastel: #faf7f1;
    --cor-buttons-perguntas: #AEDFF2;
    --cor-buttons-next: #3F6E7A;
    --cor-fundo-bege: #EFE4D2;
    --cor-fundo-azul-escuro: #8fb9d6;
    --cor-texto-branco: #FFFFFF;
    --fonte-principal: 'Roboto', sans-serif;
    --font-secundaria: Verdana, Geneva, Tahoma, sans-serif;
}

/* CORPO */
body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(
        135deg,
        #3F6E7A,
        #AEDFF2,
        #8fb9d6
    );
    overflow: hidden;
}


/* CAMADA DOS ÍCONES */
.background-icons {
    position: fixed;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 0;
}


/* ÍCONES */
.icon {
    position: absolute;
    font-size: 120px;
    opacity: 0.30;
    filter: blur(5px);
    user-select: none;
    animation: flutuar 18s infinite ease-in-out;
}


/* POSIÇÕES */

.icon1 {
    top: 5%;
    left: 8%;
    animation-duration: 20s;
}

.icon2 {
    top: 15%;
    right: 10%;
    animation-duration: 24s;
}

.icon3 {
    top: 45%;
    left: 3%;
    animation-duration: 22s;
}

.icon4 {
    top: 60%;
    right: 5%;
    animation-duration: 19s;
}

.icon5 {
    bottom: 5%;
    left: 15%;
    animation-duration: 25s;
}

.icon6 {
    bottom: 15%;
    right: 20%;
    animation-duration: 21s;
}

.icon7 {
    top: 35%;
    right: 30%;
    animation-duration: 27s;
}

.icon8 {
    bottom: 30%;
    left: 40%;
    animation-duration: 23s;
}


/* MOVIMENTO */
@keyframes flutuar {

    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(40px, -30px) rotate(8deg);
    }

    50% {
        transform: translate(-20px, 40px) rotate(-5deg);
    }

    75% {
        transform: translate(30px, 20px) rotate(6deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }

}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #00000020;
}

.score {
    width: auto;
    height: auto;
    background-color: var(--cor-buttons-next);
    border-radius: 8px;
    color: var(--cor-texto-branco);
    font-family: var(--font-secundaria);
    font-size: 9px;
    text-transform: uppercase;
}

.pontos {
    margin: 8px;
}

.perfil{
    display: flex;
    align-items: center;
    gap: 10px;
}

.perfil h1 {
    font-family: var(--font-secundaria);
    font-size: 15px;
    text-transform: uppercase;
}

.perfil img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-left: 40px;
    background-color: #3F6E7A;
}

#progress {
  display: flex;
  width: 100%;
  height: 12px;
  gap: 5px;
}

.barra {
  flex: 1;
  background-color: var(--cor-fundo-bege );
  height: 100%;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  border: 1px solid #00000015;
}

.barra.active {
    background-color: var(--cor-fundo-azul-escuro);
}

.app {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}

.quiz {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 90em;
}

.quiz h2{
    font-family: var(--fonte-principal);
    font-size: 18px;
    margin-top: 20px;
}

.answer-btn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 30px;
}

.answer-btn .btn{
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 9px;
}

.answer-btn img{
    width: 40px;
    height: auto;
    border: 1px solid #0000014d;
    border-radius: 20px;
}

.btn {
    width: auto;
    height: 70px;
    border-radius: 10px;
    font-family: var(--font-secundaria);
}

.btn:hover{
    background-color: var(--cor-buttons-perguntas);
}

.btn.correct {
    background-color: #28a745;
    color: white;
}

.btn.incorrect {
    background-color: #dc3545;
    color: white;
}

.btn:disabled {
    cursor: not-allowed;
    opacity: 0.8;
}

.container {
    width: auto;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #000000;
    margin-top: 80px;
    background-color: #0000002c;
    text-transform: uppercase;
    display: none;
}

.container.correct {
    background-color: #28a746;
    border: 1px solid #000000;
    color: white;
}

.container.incorrect {
    background-color: #dc3545;
    border: 1px solid #000000;
    color: white;
}

.container h1 {
    padding-top: 20px;
    font-family: var(--fonte-principal);
    font-size: 40px;
}

.container h2 {
    font-family: var(--font-secundaria);
    font-size: 15px;
}

#next-btn {
    font-family: var(--font-secundaria);
    width: 20em;
    height: 45px;
    margin-top: 30px;
    border-radius: 4px;
    color: var(#000000);
    text-transform: uppercase;
    border: 1px solid #000000;
}

#next-btn:hover {
    color: #000000;
    background-color: var(--cor-fundo-azul-escuro);
}